.borderBox{
    width: 50vw;
    height: 50vh;
    border: 1px solid gray;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
@media (max-width:550px) {

    .borderBox{
        margin: 1rem;
        border: 1px solid gray;
        position: absolute;
        left: 20%;

    }
}