body{
    background: url("../../Assests/background.webp") no-repeat center center/cover;
    height: 100vh;
}

.card {
    position: relative;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.478);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    height: 30vh;

  }
  
  .card-header {
    display: flex;

  }
  
  .card-header img {
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    width: 50px;
  }
  
  .card-header h2 {
    margin: 0;
  }
  
  .card-body {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;

  }
  
  .card-body p {
    margin: 0;
  }
  
  .card-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .card-body li {
    margin-bottom: 10px;
  }
  
  .card-footer {
    margin-top: auto;
  }
  .textCard{
    background-color: red;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
  }